<div ng-controller="dashboardCtrl" style="color: whitesmoke;">
    <div class="container-fluid">
        <div class="jumbotron" style="margin-top:50px;height:250px;background-size:cover;color:white;background-image: url(images/sports.jpg);">
            <h1><b>All Work and No Play</b></h1>
            <h3><b>Makes Jack a Dull Boy.</b></h3>
        </div>
    </div>
    <nav class="navbar navbar-inverse middle col-sm-12 col-md-12 col-xs-12 col-lg-12 middleNavbar" style="width:100%; overflow: auto;">
        <div class="container-fluid">
            <div class="navbar-header" style="width:100%">
                <ul class="nav navbar-nav" style="width:100%;">
                    <li id="link4-sport"><a href="" id="link1-sport" ng-click="clothes_donations()"><img src="images/Clothes.png" class="icon">&nbsp;<b class="hidden-xs">Clothes</b></a></li>
                    <li id="link4-sport"><a href="" id="link1-sport" ng-click="books_donations()"><img src="images/Books.png" class="icon">&nbsp;<b class="hidden-xs">Books</b></a></li>
                    <li id="link4-sport"><a href="" id="link1-sport" ng-click="electronics_donations()"><img src="images/electronics.png" class="icon">&nbsp;<b class="hidden-xs">Electronics</b></a></li>
                    <li id="link4-sport"><a href="" id="link1-sport" ng-click="medicines_donations()"><img src="images/medicines.png" class="icon">&nbsp;<b class="hidden-xs">Medicines</b></a></li>
                    <li id="link4-sport"><a href="" id="link1-sport" ng-click="furnitures_donations()"><img src="images/furniture.png" class="icon">&nbsp;<b class="hidden-xs">Furniture</b></a></li>
                    <li id="link3-sport"><a href="" id="link1-sport" style="color:#FF8341;" ng-click="sports_donations()"><img src="images/sports.png" class="icon">&nbsp;<b class="hidden-xs">Sports</b></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="jumbotron" style="background-color:#FFE3D4; text-align:center;">
            <p id="heading-sport">&nbsp;&nbsp;&nbsp;<b>Sports Donation Form<br>
                    <font style="font-size: 16px;color:#FF8341;">{{message}}</font>
                </b></p>
            <form class="form-horizontal" action="">
                <div class="form-group form-sport">
                    <div>
                        <input type="name" class="form-control sport" placeholder="Sports Good's name" ng-model="sportName">{{errsportName}}
                    </div>
                </div>
                <div class="form-group form-sport">
                    <div>
                        <input type="quantity" class="form-control sport" placeholder="Quantity" ng-model="sportQuan">{{errsportQuan}}
                    </div>
                </div>
                <div class="form-group form-sport">
                    <div>
                        <button type="submit" class="btn btn-default" style="background-color:#FF8341;color:white;" ng-click="sport_new()"><b>Submit</b></button>
                    </div>
                </div>
            </form>
            <br />
            <div class="col-sm-6 col-xs-12 links">
                <a href="" ng-click="sPrevious()" style="color:black;" class="links">
                    <b><u>View Your Previous Donations</u></b>
                </a>
            </div>
            <div class="col-sm-6 col-xs-12 links">
                <a href="" ng-click="sPending()" style="color:black;" class="links">
                    <b><u>View Your Pending Donations</u></b>
                </a>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
